{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <h2> You are already logged in, you shouldn't be allowed to register!</h2>
  {% endif %}

    <form action="{{ url_for('register') }}" method=post class=register>
      <dl>
        <dt>Username:
        <dd><input type="text" size="30" name="user" />
        <dt>Password:
        <dd><input type="password" name="password1" size="40" />
        <dt>Repeate password:
        <dd><input type="password" name="password2" size="40" />
        <dt>Contact e-mail:
        <dd><input type="text" size="30" name="email" />
        <dd><input type="submit" value="Register!">
      </dl>
    </form>

{% endblock %}
